*{
    margin: 0;
    padding: 0;

}

body{
    display: block;
    background-color: #CCC5B9;
    max-height: 1024px;
}

.logo{
    padding-top: 4em;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    display: flex;
    flex-flow: column;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    margin-bottom: 5%;
    font-size: 80%;
}

h1{
    font-family: Roboto Condensed, Serif; 
}

p{
    font-family: Roboto Slab, Sans-Serif;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer{
    list-style-type: none;
    background-color: #252422;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.footer li a{
    text-decoration: none;
    color: white;
    font-size: 36px;
    align-self: flex-end;
}

.footer li{
    
    margin: 10px;
}

.footer li a:hover{
    color: #1D5EA8;
}
/* 
**MEDIA QUERIES
*/ 
@media only screen and (max-width: 550px){
    .logo img{
        width: 80%;
    }

    .message{
        font-size: 12px;
    }

    footer{
        padding-top: 320px;
    }
}
/* 
**END OF MEDIA QUERIES
*/ 
