*{
    margin: 0;
    padding: 0;
}
body{
   background-color: #CCC5B9
}

p{
    fonsize: 32px;
    font-family: Roboto Slab, Sans-Serif;
}

/*
**HEADER 
*/
header{
    font-family: Roboto Condensed, Serif;
    font-size: 36px;
    width: 100%;
    position: fixed;
    
}

.menu a{
    margin: 10px;
    color: #252422;
}

.logo a{
    margin: 25px;
    color: white;
}

nav ul{
    display: flex;
    background-color: #1D5EA8;
    border-radius: 0 0 85PX 0;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;  
    
}

nav ul li a{
    text-decoration: none; 
}

nav ul li ul{
    display: none;
    background-color: #828282;
    width: max;
    opacity: 50%;
    border-radius: 0 0 0 0;
    padding: 15px;
}

nav ul li ul li a:hover{
    color: #1D5EA8;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    position: relative;
    border-bottom: 3px solid;
}

.menu:hover ul{
    flex-direction: column;
    display: flex;
    position: absolute;
    justify-content: space-around;
    padding: 15px;
    width: 130px;
    height: 350px;
    opacity: 0.8;
}

nav ul li ul li a{
    color: white;
}

.menu:hover{
    color: #828282;
    opacity: 0.9;
}
/*
 ** END OF HEADER 
 */

/* 
** BODY
 */

/* 
** INTRODUCTION SECTION
 */
.introduction{
    display: flex;
    background: url(/assets/images/photo-7.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    left: -366px;
    top: -68px;
 }
 
.introduction p{
    color: white;
    text-align: right;
    margin-top: 550px;
    margin-right: 40px;
    margin-left: 100px;
}
/* 
** END OF INTRODUCTION SECTION
 */

 /* 
** MAIN BODY
 */
main{
    height: 820px;
}
main h1{
    color: #1D5EA8;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 80px;
    margin-bottom: 10px;

    
}

main p{
    margin-left: 40px;
    margin-right: 40px;
   
}

/* 
** END OF MAIN BODY
 */

 /* 
** SKILLS SECTION
 */
#Skills {
    background-color: #828282;
    height: 820px;   
}

#Skills h1{
    color:#1D5EA8;
    font-family: Roboto Slab, Sans-Serif;
    padding-top: 80px;
    margin-right: 40px;
    font-size: 48px;
    text-align: right;
}

#Skills ul li{
    text-align: right;
    list-style-type: none; 
    font-family: Roboto Slab, Sans-Serif;
    margin-right: 40px;
    margin-top: 50px;
    color: white;
    font-size: 36px;
    text-decoration: underline;
}
/* 
** END OF SKILLS SECTION
 */

/* 
** CONTACT SECTION W/ FOOTER
 */

#Contact{
        height: 750px;
        margin-top: 75px;
}

form{
    display: grid;
    margin-right: 40px;
    margin-left: 40px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 50px 50px 50px 255px 50px;
    grid-template-areas: 
    "header header"
    "name name"
    "email email"
    "number number"
    "subject subject"
    "message message"
    ". submit"
  
}

#Contact h1{
    grid-area: header;
    color: #1D5EA8;
    font-size: 36px;
    margin-left: 40px;
    align-self: end;
}


input[name="name"]{
    grid-area: name;
    width: 100%;
    height: 35px;
    font-family: Roboto Slab, Sans-Serif;
    font-size: 28px;
}

input[name="email"]{
    grid-area: email;
    width: 100%;
    height: 35px;
    font-family: Roboto Slab, Sans-Serif;
    font-size: 28px;
}

input[name="number"]{
    grid-area: number;
    width: 100%;
    height: 35px;
    font-family: Roboto Slab, Sans-Serif;
    font-size: 28px;
}

input[name="subject"]{
    grid-area: subject;
    width: 100%;
    height: 35px;
    font-family: Roboto Slab, Sans-Serif;
    font-size: 28px;
}

textarea[name="message"]{
    grid-area: message;
    width: 100%;
    height: 75%;
    font-family: Roboto Slab, Sans-Serif;
    font-size: 18px;
}

input[name="submit"]{
    grid-area: submit;
    font-family: Roboto Slab, Sans-Serif;
    width: 50%;
    align-self: start;
    justify-self: end;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.footer{
    list-style-type: none;
    background-color: #252422;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.footer li a{
    text-decoration: none;
    color: white;
    font-size: 36px;
    align-self: flex-end;
}

.footer li{
    margin: 10px;
}

.footer li a:hover{
    color: #1D5EA8;
}
/* 
** END OF CONTACT SECTION W/ FOOTER
 */



/* 
**MEDIA QUERIES
*/

/* 
** FULL SCREEN
*/
@media only screen and (min-width: 1260px){
    /* 
    ** INTRO SECTION
    */
    .introduction{
        background: url(/assets/images/photo-7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1024px;
    }
    .introduction p{
        text-align: right;
        margin-top: 600px;
        margin-right: 220px;
        margin-left: 600px;
        font-size: 36px;
        }
    nav ul{
        height: 62px;
    }
    header{
        font-size: 50px;    
    }
    /* 
    ** ABOUT SECTION
    */
    #About{
        height: 955px;
    }
    #About h1{
        font-size: 56px;
    }
    #About p{
        font-size: 30px;
        margin-right: 220px;
        margin-top: 60px;
        margin-left: 80px;
    }
    /* 
    ** END OF ABOUT SECTION
    */
     /* 
    ** END OF SKILLS SECTION
    */
    #Skills{
        height: 955px;
    }
    #Skills h1{
        margin-right: 260px;
        font-size: 96px;
    }
    #Skills ul{
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        list-style-position: inside;
        text-align: center;
        margin-right: 19%;
        padding-top: 7%;
    }
    #Skills ul li{
        display: block;
        font-size: 72px;
        margin: 0;
        padding:15px;
        text-align: center;
    }
        
    
     /* 
    ** END OF SKILLSSECTION
    */

     /* 
    ** CONTACT AND FOOTER SECTION
    */
    #Contact{
        height: 700px;
    }
    #Contact h1{
        font-size: 72px;
    }
    form{
        display:grid;
        margin-right: 8%;
        margin-left: 8%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px 50px 50px 50px 100px;
        grid-template-areas: 
        "header header"
        "name message"
        "email message"
        "number message"
        "subject message"
        "submit message"
    }
    input[name="name"]{
        width: 90%;
    }
    input[name="email"]{
        width: 90%;
    }
    input[name="number"]{
        width: 90%;
    }
    input[name="subject"]{
        width: 90%;
    }
    input[type="submit"]{
        width: 15%;
        align-self: start;
        margin-right: 65px;
        margin-top: 10px;
    }
    
    img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5em;
        width: 24%;
    }

    .footer{
        list-style-type: none;
        background-color: #252422;
        display: flex;
        align-items: center;
        justify-content: center; 
    }  
}

/* 
** END OF FULL SCREEN
*/
@media only screen and (min-width: 600px) and (max-width: 1259px){
    /* 
    ** HEADER
    */
    .introduction{
        background: url(/assets/images/photo-7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1024px;
    }
    .introduction p{
        text-align: right;
        margin-top: 700px;
        margin-right: 100px;
        margin-left: 100px;
        font-size: 30px;
    }
    /* 
    ** END OF HEADER
    */

    /* 
    ** ABOUT
    */
    #About{
        height: 950px;
    }
    #About h1{
        font-size: 48px;
    }
    #About p{
        font-size: 20px;
        margin-right: 20%;
        margin-top: 60px;
        margin-left: 10%;
    }
    /* 
    ** END OF ABOUT
    */

    /* 
    ** SKILLS
    */
    #Skills{
        height: 955px;
    }
    #Skills h1{
        margin-right: 12%;
        font-size: 62px;
    }
    #Skills ul{
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        list-style-position: inside;
        text-align: center;
        margin-right: 15%;
        padding-top: 180px;
    }
    #Skills ul li{
        font-size: 55px;
        margin: 0;
        padding:10px;
        text-align: center;
    }

    /* 
    ** END OF SKILLS
    */

    /* 
    ** CONTACT
    */
    #Contact h1{
        font-size: 48px;
    }
    form{
        margin-right: 8%;
        margin-left: 8%;
    }
    /* 
    ** END OF CONTACT
    */
}
/* 
**END OF MEDIA QUERIES
*/   */